@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fefee3;
  /* background-color: #F8F9FA; */
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
/* ----------------------------------------------- MEDIA QUERY ------------------------------------------ */

@media (max-width: 1045px) {
  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-middle {
    position: absolute;
    top: 101px;
    right: 0;
    width: 100%;
    background-color: rgba(254, 254, 227, 0.87);
    flex-direction: column;
    align-items: center;
    display: none;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
  }

  .grid-container {
    grid-template-columns: 1fr !important;
    grid-column: 3;
  }
  .flex-choice {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  #logo{
    width: small;
  }
  .grid-container {
    display: flex;
    flex-direction: row;
  }
  .flex-choice {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  /* #first-choice,
  #second-choice,
  #third-choice,
  #fourth-choice {
    width: 100%;
  } */
   /* .navbar-right i{
    display: inline;
   } */
}
/* -----------------------------------------------NAVBAR------------------------------------------ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 101px;
  flex-shrink: 0;
  color: #080808;
  padding: 10px 20px;
  background-color: rgba(254, 254, 227, 0.87);
  /* background-color: #F8F9FA; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  padding-right: 30px;
}

/* -----------------------------------------------MIDDLE - NAVBAR------------------------------------------ */
.navbar-middle .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-middle .nav-links li a {
  text-decoration: none;
  color: #080808;
  font-size: 18px;
  transition: color 0.3s;
  font-weight: 550;
}

.navbar-middle .nav-links li a:hover {
  color: #439943;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #527d53;
  transition: width 0.4s;
}
nav ul li a:hover::after {
  width: 100%;
}

/* -----------------------------------------------RIGHT - NAVBAR------------------------------------------ */
.navbar-right i {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
  color: #080808;
  transition: color 0.3s;
  padding-right: 20px;
  position: relative;
}
.navbar-right i:hover {
  color: #439943;
}

/* ----------------------------------------------- CAROUSEL ------------------------------------------ */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 30vh;
  background: linear-gradient(to bottom, #527d53, #439943);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 100px;
  text-align: right;
}

#carousel-caption {
  margin-bottom: 10px;
}

#carousel-button {
  display: inline-block;
  background-color: #fff;
  color: #439943;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#carousel-button:hover {
  background-color: #527d53;
  color: #fff;
}

/* ----------------------------------------------- MAIN CONTENT ------------------------------------------ */

.main-content {
  padding: 30px 90px 30px 90px; /*top right bottom left*/
}

/* ----------------------------------------------- FLEX CHOICE ------------------------------------------ */

.flex-choice {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-bottom: 15px;
}
#first-choice,
#second-choice,
#third-choice,
#fourth-choice {
  width: 200px;
  height: 70px;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #527d53;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#third-choice p {
  color: #439943;
  align-items: center;
}

.label-title {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  flex-wrap: nowrap;
  padding: 10px;
  font-size: 13px;
  color: #424242dd;
}
.form-select,
select {
  display: grid;
  padding-left: 1px;
  padding-top: 8px;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  grid-column: 1 / -1;
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #439943;
  white-space: nowrap;
}

.section-title .underline {
  display: inline;
  width: 100%;
  flex-grow: 1;
  height: 3px;
  border-radius: 5px;
  background-color: #527d53;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------- CARDS ------------------------------------------ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.location {
  font-weight: bold;
  color: #439943;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.1rem;
  margin: 0 0 10px;
}

.card p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #555;
}
.card a {
  text-decoration: none;
  color: #080808;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: linear-gradient(to bottom, #527d53, #439943);
  color: #fefee3;
  padding: 30px;
  margin: 0;
  flex-direction: column;
}
footer,
p {
  color: #fefee3;
}

footer .upper {
  display: flex;
  justify-content: space-around;
}

.float-mid a {
  display: flex;
  line-height: 1.5;
  text-decoration: none;
  color: #fefee3;
}
.float-right {
  line-height: 1.5;
}
.social-icon {
  display: flex;
  justify-content: space-evenly;
}
.footer-underline {
  display: flex;

  justify-content: center;
}

.credit {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* .footer-underlinee{
  display: block;
  justify-content: center;
  align-content: center;
  gap:20px;
  background-color: #fefee3;
  height:1px; 
  width: 80vw;
} */
